html, body, #map {
   width: 100%;
   height: 100%;
   margin: 0;
}

#controlbar {
   box-sizing: border-box;
   height: 100%;
   width: 400px;
   margin: 0;
   background-color: white;
}

@media (min-width: 481px) and (max-width: 767px) {
   #controlbar {
      width: 350px;
   }
}

@media (min-width: 320px) and (max-width: 480px) {
   #controlbar {
      wotdh: 100vw;
      top: 0; left: 0; bottom: 0:
   }
}
